* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
}

.parent {
    position: absolute;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.level1 {
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 15px;
    margin-bottom: 50px;
}

.level1 h2 {
    margin-top: 18px;
}

.level1 p:first-of-type {
    opacity: 60%;
    font-size: 1.5em;
    margin-bottom: 0;
}

.level1 .des {
    opacity: 50%;
    font-size: 14px;
    line-height: 22px;
}

.level2 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col1 {
    width: calc(100%/3.5);
    height: 100%;
    margin-right: 3px;
    display: flex;
    justify-content: center;
}

.col1 .boxcol1 {
    width: 90%;
    height: 40%;
    align-self: center;
}

.col2 {
    width: calc(100%/3.5);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row1,
.row2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxrow1,
.boxrow2 {
    width: 90%;
    height: 80%;
}

.row1 {
    margin-bottom: 0px;
}


.col3 {
    width: calc(100%/3.5);
    height: 100%;
    margin-left: 3px;
    display: flex;
    justify-content: center;
}

.col3 .boxcol3 {
    width: 90%;
    height: 40%;
    align-self: center;
}

.boxcol1,
.boxrow1,
.boxrow2,
.boxcol3 {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 11px 7px 0px #dedede;
}

.boxcol1 {
    border-top: solid 4px #9af2f3;
}

.boxcol3 {
    border-top: solid 4px #4a99db;
}

.boxrow1 {
    border-top: solid 4px red;

}

.boxrow2 {
    border-top: solid 4px orange;

}

h4 {
    text-transform: capitalize;
}

.first h4 {
    margin-bottom: 0px;
}

.first p {
    font-size: 14px;
    opacity: 50%;
}

@media (max-width:391px) {
    .parent {
        width: 90%;
        overflow: scroll;
    }

    .level1 p:first-of-type,
    .level1 h2 {
        font-size: 23px;
    }

    .des br {
        display: none;
    }

    .level1 .des {
        padding-left: 50px;
        padding-right: 50px;
    }

    .col1,
    .col2,
    .col3 {
        width: 100%;
    }

    .col1,
    .col3 {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        height: auto;
    }

    .col1 .boxcol1 {
        height: 100%;

    }

    .col1,
    .col3 {
        margin-bottom: 50px;
    }

    .col3 .boxcol3 {
        height: 100%;
    }

}